body{
  /* background-color: #228869; */
   background-color: #b4d6cc;
}
.title{
  font-family: "Oleo Script", system-ui;
  font-weight: 100;
  font-style: normal;
  font-size: 4rem;
  color:#09a078
}
.subtitle{
  font-family: "Oleo Script", system-ui;
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  color:#5db8a0
}
  
/* overlay text*/
.fade-in{
  opacity: 0;
  transform: translateY(0);
  transition:opacity 2.2s ease-out,transform 1.2s ease-out;
}

.fade-in.show{
  opacity: 1;
  transform: translateY(0);
}


.custom-img {
    max-width: 100%;   
    height: 100vh;    
    object-fit: cover; 
}


.shop-img {
    width: 500px;
    height:350px;
    border: 3px solid #06ec97; 
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.trendy {
    width: 500px;
    border: 3px solid #06ec97; 
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.shop-img:hover, .trendy .card:hover {
    transform: scale(1.05);   
    box-shadow: 0 8px 20px rgba(0,0,0,0.3); 
}   


.popular {
background: rgba(255, 255, 255, 0.9); /* Transparent white background */
opacity: 0; /* Default hidden */
transition: opacity 0.4s ease-in-out;
}

.card:hover .popular {
opacity: 1; /* Visible on hover*/
}

#scrollup{
  position: fixed;
  bottom:20px;
  right: 20px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(188, 58, 58, 0.2);
  transition: 0.3s ease-in-out;
  display: none; 
  z-index: 9999;

}


#scrollup:hover {
  background: #228869;
  /* color: #228869; */
  transform: scale(1.1);
}

/* for tailors_men.html */
.gallery-img {
  width: 100%;        
  height: 300px;      
  object-fit: cover;  
}

.materials p{
  background-color: #aeeada;
  color:#800430;
  font-weight: bold;
  border-radius:0 12px;
}


/* navbar */
.navbar-toggler-icon {
  filter: invert(40%) sepia(90%) saturate(400%) hue-rotate(100deg);
}
